<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8"/>
    <title>{% block title %}Midakuda{% endblock %}</title>
    {#{% block stylesheets %}#}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {#{% endblock %}#}
    {#<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>#}

</head>
<body>
<div class="container">
    <div id="nav-upper">
        {% if app.user %}
            Zalogowany jako {{ app.user }}  | <a href="{{ path('fos_user_security_logout') }}"> Wyloguj</a>
        {% else %}
            <a href="{{ path('fos_user_security_login') }}">Zaloguj się</a>
        {% endif %}
        {% if is_granted ('ROLE_ADMIN') %}  | <a href="{{ path('admin') }}">Admin </a>
            {#<a href="{{ path('new_bet') }}"> Zbuduj zakład</a>#}
        {% endif %}
    </div>
    <div id="header">
        <img src="img/logo.png" alt="Logo">
    </div>
    <div class="nav">
        <ol>
            <li class="col-2"><a href="#"> Opcja A</a>
                <ul>
                    <li><a href="{{ path('blog') }}"> Opcja A1</a>
                    <li><a href="{{ path('blog') }}"> Opcja A2</a>
                    <li><a href="{{ path('blog') }}"> Opcja A3</a>
                    <li><a href="{{ path('blog') }}"> Opcja A4</a>
                </ul>
            </li>
            <li class="col-2"><a href="#"> Opcja B</a>
                <ul>
                    <li><a href="{{ path('blog') }}"> Opcja B1</a>
                    <li><a href="{{ path('blog') }}"> Opcja B2</a>
                    <li><a href="{{ path('blog') }}"> Opcja B3</a>
                    <li><a href="{{ path('blog') }}"> Opcja B4</a>
                </ul>
            </li>
            <li class="col-2"><a href="#"> Opcja C</a>
                <ul>
                    <li><a href="{{ path('blog') }}"> Opcja C1</a>
                    <li><a href="{{ path('blog') }}"> Opcja C2</a>
                    <li><a href="{{ path('blog') }}"> Opcja C3</a>
                    <li><a href="{{ path('blog') }}"> Opcja C4</a>
                </ul>
            </li>
            <li class="col-2"><a href="#"> Opcja D</a>
                <ul>
                    <li><a href="{{ path('blog') }}"> Opcja D1</a>
                    <li><a href="{{ path('blog') }}"> Opcja D2</a>
                    <li><a href="{{ path('blog') }}"> Opcja D3</a>
                    <li><a href="{{ path('blog') }}"> Opcja D4</a>
                </ul>
            </li>
            <li class="col-2"><a href="#"> Opcja E</a>
                <ul>
                    <li><a href="{{ path('blog') }}"> Opcja E1</a>
                    <li><a href="{{ path('blog') }}"> Opcja E2</a>
                    <li><a href="{{ path('blog') }}"> Opcja E3</a>
                    <li><a href="{{ path('blog') }}"> Opcja E4</a>
                </ul>
            </li>
            <li class="col-2"><a href="#"> Opcja F</a>
                <ul>
                    <li><a href="{{ path('blog') }}"> Opcja F1</a>
                    <li><a href="{{ path('blog') }}"> Opcja E2</a>
                    <li><a href="{{ path('blog') }}"> Opcja E3</a>
                    <li><a href="{{ path('blog') }}"> Opcja E4</a>
                </ul>
            </li>
        </ol>
    </div>
    {% block body %} {% endblock %}
</div>
<script src="{{ asset('js/jquery-3.3.1.js') }}"></script>
<script src="{{ asset('js/main.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/jquery-3.3.1.js') }}"></script>
{% block javascripts %}
{% endblock %}


</body>
</html>
