{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>BLOG swiata</h1>
            </div>
            {% for post in posts %}
                <div>
                    <h2><a href="{{ path('post_show', {'id' :post.id}) }}"> {{ post.title }}</a></h2>
                    <p> {{ post.lead }} </p>
                </div>
            {% endfor %}
        </div>

        <div class="navigation">
            {{ knp_pagination_render(posts) }}
        </div>
    </div>
{% endblock %}
