{% extends 'base.html.twig' %}

{% block body %}
    <div class="disciplins">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
            <label class="custom-control-label" for="customCheck1">Piłka nożna</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck2" checked>
            <label class="custom-control-label" for="customCheck2">Siatkówka</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck3" checked>
            <label class="custom-control-label" for="customCheck3">Piłka nożna</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck4" checked>
            <label class="custom-control-label" for="customCheck4">Piłka nożna</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck5" checked>
            <label class="custom-control-label" for="customCheck5">Piłka nożna</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck6" checked>
            <label class="custom-control-label" for="customCheck6">Piłka nożna</label>
        </div>
    </div>

    <div id="actually-bets">
        {% for bet in bets %}
            <div class="oneBet">
                <div class="icon">
                    {% if bet.disciplin == 'piłka nożna' %}   <img src="img/hhb.jpg" alt="Logo">
                    {% elseif bet.disciplin == 'Siatkówka' %} <img src="img/vb.jpg" alt="Logo">
                        {#{% elseif bet.disciplin == 'Siatkówka' %} <img src="img/pn.jpg" alt="Logo">#}
                        {#{% elseif bet.disciplin == 'Siatkówka' %} <img src="img/pn.jpg" alt="Logo">#}
                        {#{% elseif bet.disciplin == 'Siatkówka' %} <img src="img/pn.jpg" alt="Logo">#}
                        {#{% elseif bet.disciplin == 'Siatkówka' %} <img src="img/pn.jpg" alt="Logo">#}
                    {% endif %}
                </div>
                <div class="date">
                    {{ bet.date |date('d/m H:i') }}
                </div>
                {% if bet.options|length == 3 %} {% set width = 180 %}
                {% elseif bet.options|length == 2 %} {% set width = 275 %}
                {% endif %}
                <div class="options">
                    {% for i in 0..bet.options|length - 1 %}
                       <a href="#">
                            <div class="oneOption" style="width:{{ width }}px;">
                                <span style="text-align: left;">{{ bet.options[i] }}  </span>
                                <span style="float: right;">{{ bet.courses[i] }}  </span>
                            </div>
                       </a>
                    {% endfor %}
                    <div class="clr"></div>
                </div>
                <div class="clr"></div>
            </div>
            <div class="clr"></div>
        {% endfor %}
    </div>
    <div class="actualyCupon">

    </div>


{% endblock %}

{% block stylesheets %}
    <style>

    </style>
{% endblock %}
