{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">

            <h2>Nowy zakład</h2>
            {% if app.user %}
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn">Dodaj zakład</button>
                {{ form_end(form) }}
            {% else %}
                <p> Komentarze mogą dodaać tylko zalogowani uzytkownicy <a href="{{ path('fos_user_security_login') }}">Zaloguj</a>
                </p>
            {% endif %}
            {% for bet in user.bets %}
                <div>
                    <h2>{{ bet.id }}</h2>
                    <h2>{{ bet.user }}</h2>
                    <h2>{{ bet.disciplin }}</h2>
                    {% for option in bet.options %}
                    <h2> {{option }} </h2>
                    {% endfor %}
                    {% for courses in bet.courses %}
                        <h2> {{ courses}} </h2>
                    {% endfor %}
                    <h2>{{ bet.status }}</h2>
                    <h2>{{ bet.result }}</h2>
                    {{ dump(bet.date) }}

                    {#<h2>{{ bet.date }}</h2>#}
                    {#<h2>{{ bet.createdAt }}</h2>#}
                    {{ dump(bet.createdAt) }}
                    {{ dump(bet.options) }}

                    <h1> ------------------</h1>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}

{% block stylesheets %}
    <style>

    </style>
{% endblock %}
