{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>{{ post.title }}</h1>
            </div>
            <h3>{{ post.lead }}</h3>
            <p>   {{ post.content }} </p>
            <span class="pull-right">Dodano: {{ post.createdAt|date('H:i d/m/y') }}</span>
            <h2>Komentarze</h2>
            {% if app.user %}
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn">Dodaj komentarz</button>
            {{ form_end(form) }}
            {% else %}
            <p> Komentarze mogą dodaać tylko zalogowani uzytkownicy <a href="{{ path('fos_user_security_login') }}">Zaloguj</a> </p>
            {% endif %}
            {% for comment in post.comments %}
                <div>
                    <h2>{{ comment.content }}</h2>
                    <p> Dodany: {{ comment.createdAt|date('H:i d/m/y') }} {% if comment.user %} przez {{ comment.user }}{% endif %}</p>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}

{% block stylesheets %}
    <style>

    </style>
{% endblock %}
