*{box-sizing: border-box;}
* {margin: 0; padding: 0;}
body{
    background-color: #FFF;
}

.clr{
    clear:both;
}
#nav-upper{
    padding:10px;
    background-color: #75098f;
    color: #FFF;
    text-align: right;
}
#nav-upper a {
     color: #FFF;
 }
#nav-upper a:hover {
    text-decoration: none;
}
.container{
    width: 1140px;
    background-color: #270234;
    height: 2000px;
    padding: 0;
}
#header > img{
    width:100%;
}

.nav{
    width: inherit;
    text-align: center;
}

.sticky {
    width: inherit;
    position: fixed;
    top: 0;
    z-index: 100;
}

ol{
    width: 100%;
    list-style-type: none;
    display:inline-block;
    padding: 0 !important;
    font-size: 18px;
    /*height: 40px;*/
    line-height: 200%;
}

ol  a{
    width:inherit;
    text-decoration: none;
    display: block;
    color: #FFF;
}

ol a:hover{
    text-decoration: none;
    color: #FFF;
}

ol > li{
    background-color: #75098f;
    height:40px;
    float:left;
    padding: 0!important;
}

ol > li:hover{
    background-color: #65007f;
}

ol > li > ul{
    list-style-type: none;
    display: none;
}

ol li:hover >ul{
    display:block;
}

ol > li > ul > li{
    background-color: #65007f;
    position:relative;
    z-index: 100;
    border-top: solid 1px #0b2e13;
}

ol > li > ul > li:hover{
    background-color: #75098f;
}

.disciplins{
    float:left;
    margin:10px;
    padding:5px;
    border: solid 2px #65007f;
    background-color: #65007f;
    border-radius: 10px;
    color: white;
}

.custom-checkbox{
    padding: 0 10px 0px 20px;
}
#actually-bets, .icon, .options, .date{
    float:left;
}
.oneBet{
    color: #FFF;
    background-color: #0774a9;
    margin:5px;
    padding: 0 5px ;
    border: solid 2px #FFF;
    border-radius: 5px;
}
.oneOption{
    background-color: #65007f;
    float:left;
    margin:5px;
    padding:7px 10px;
}

.options > a {
    color: #FFF;
}

.options > a:hover > .oneOption{
    background-color: #85209f;
}


.actualyCupon{
    float:left;
    background-color: white;
    width:200px;
    height:200px;
}

.icon > img {
    height:50px;
    padding:1px;
}

.date{
    float:left;
    padding:12px 0 ;
}



